body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  position: fixed; /* prevent scrolling of app frame */
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: #ededed;
}

@media screen and (min-width: 481px){
  #root {
    position: fixed;
    width: 480px;
    height: 100vh;
    margin-left: calc((100% - 480px)  * 0.7);
    margin-right: calc((100% - 480px) * 0.3);
  }
}
